site_name: The Compleat 40 and 20
site_url: https://wcl.phfactor.net/
site_description: Transcripts and shownotes for the 40&20 podcast
site_author: Paul Hubbard
copyright: "&copy; 2026 Paul Hubbard"
dev_addr: 0.0.0.0:8000

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Episodes: episodes.md
  - Show notes: shownotes.md
  - Search: search.md

theme:
  logo: img/logo.jpg
  favicon: img/favicon.ico
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.sections
    - navigation.path
    - toc.integrate

plugins: []


